---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | where_exp:"item", "item.tags contains page.blog_tag" | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post.author -%}{{- _post.author }} | {% endif %}
			{{- _post.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">read more</a>{%- endcapture -%}
        {%- assign _content = _excerpt | append: _link -%}
        
        
        {%- assign _src = nil -%}
        {%- assign _alt = nil -%}
        {% for row in site.data.photo_index %}
            {% if row.SHOOT contains _post.shoot_id and row.COVER == "True" %}
                {%- assign _src = row.FULL_2K -%}
                {%- assign _alt = row.FNAME -%}
                
                {% break %}
            {% endif %}
        {% endfor %}
        
        {% if _src %}
            {%- include section.html title=_title subtitle=_subtitle photo=_src photo-alt=_alt -%}
        {% else %}
            {%- include section.html title=_title subtitle=_subtitle -%}
        {% endif %}
	{%- endfor -%}
</div>