---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-four">
	  <div class="container">
			<header>
                <img id='page-logo-pin' src="/assets/images/seal.png"/>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
            </header>
        <div id='FullContent'>
            <div id='ContentSection'>
                {{- content -}}
            </div>
        </div>
	  </div>
	</article>
</div>